@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .product {
        @apply flex flex-col rounded-md shadow-xl relative w-[100%] overflow-hidden
    }
    .product-image{
        @apply w-full h-4/5 flex overflow-x-hidden duration-200 
    }
    .product-image img {
        @apply min-w-full h-full object-cover duration-75 object-center
    }
    .product:hover .product-image img:nth-child(1){
        @apply -translate-x-full
    }
    .product:hover .product-image img:nth-child(2){
        @apply -translate-x-full
    }
    .product-effect{ 
        @apply absolute top-2 left-[200px] w-full h-full gap-y-2 flex flex-col opacity-0 z-20 duration-500
    }
    .product-effect-item{
        @apply flex w-10 h-10 items-center justify-center bg-white rounded-full text-black cursor-pointer z-20 duration-500
    }
    .product:hover .product-effect{
        @apply left-[20px] opacity-100
    }
    .product-surface {
        @apply w-full h-[80%] bg-transparent absolute -z-10 duration-500 delay-150
    }
    .product:hover .product-surface{
        background-color: rgba(0,0,0,0.24);
        z-index: 10;
    }
    .product-link{
        @apply w-full h-full flex justify-center items-center cursor-pointer duration-500 border border-white text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20 opacity-0 
    }
    .product:hover .product-link{
        @apply opacity-100 visible
    }
    /* .product-full{
        transition: all .5s ease-in-out;
    } */
    .product-icon {
        /* @apply top-0 -right-10 opacity-0 cursor-pointer */
        top:0;
        right: -40px;
        opacity: 0;
        cursor: pointer;
        transition: .5s ease-in-out;
        /* transition-delay: .2s; */
    }
    .product-full:hover .product-icon{
        @apply opacity-100 top-0 right-5
    }
    .product-icon-first{
        transition-property: transform;
        transition-delay: .6s, .6s;
    }
    .product-icon-second{
        transition-property: transform;

        transition-delay: .8s, .8s;
    }
    .product-icon-first ion-icon, 
    .product-icon-second ion-icon{
        pointer-events: none;
    }
    /*hamburger menu */
    #checkbox{
        @apply hidden
    }
    .hamberger{
        @apply right-1 p-5 flex justify-center items-center cursor-pointer z-50
    }
    .line{
       position: absolute;
       width: 21px; 
       height: 2px;
       background: black;
       border-radius: 3px;
       transition: transform .25s , opacity .35s;

    }
    .line-top{
        @apply -translate-y-[7px]
    }
    .line-bottom{
        @apply translate-y-[7px]
    }
    #checkbox:checked~ .line-top{
        @apply translate-y-0 rotate-45 
    }
    #checkbox:checked~ .line-middle{
        @apply translate-x-[16px] opacity-0
    }
    #checkbox:checked~ .line-bottom{
        @apply  translate-y-0 -rotate-45
    }
  }